<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Bounty App</title>
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  {{> header}}

  <div class="container">
    {{{body}}}
  </div>

  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/popper.js/dist/umd/popper.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/@fortawesome/fontawesome-free/js/all.js"></script>
  <script src="/js/main.js"></script>
</body>
</html>
